mobile/node_modules/**/*
mobile/.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
mobile/web-build/
mobile/web-report/
.idea
*.log
/prayers
.stack-work
web/elm-stuff
web/elm.js
web/main.js
